<a href="https://colab.research.google.com/github/queenakki/queenakki/blob/trial/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Stock market data of Tata , Reliance , Amazon companies**

In [1]:
import pandas as pd
import numpy as ny
import matplotlib.pyplot as mlt

# **importing the data**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
stock=pd.read_csv("/content/drive/MyDrive/finalre.csv")
stock.head()

,Date,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,1/1/2005,12.22,12.25,10.45,11.63,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.2475,2.2720,2.013,2.1610,2.1610,3898704000
1,2/1/2005,11.35,11.64,10.66,10.88,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.1500,2.1770,1.660,1.7590,1.7590,4373102000
2,3/1/2005,10.69,11.14,9.38,9.70,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.7530,1.8215,1.641,1.7135,1.7135,2391332000
3,4/1/2005,10.00,10.15,9.25,9.48,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.7315,1.7670,1.530,1.6180,1.6180,3249826000
4,5/1/2005,9.55,10.30,9.42,9.85,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.6150,1.8020,1.605,1.7755,1.7755,2338956000

In [4]:
stock.shape

(217, 19)

In [5]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  217 non-null    object
 1   tata-open             217 non-null    float64
 2   tata-high             217 non-null    float64
 3   tata-low              217 non-null    float64
 4   tata-close            217 non-null    float64
 5   tata-Adj Close        217 non-null    float64
 6   tata-volume           217 non-null    int64
 7   Reliance-open         217 non-null    float64
 8   Reliance+High         217 non-null    float64
 9   Reliance-Low          217 non-null    float64
 10  Reliance-Close        217 non-null    float64
 11  Reliance-Adj Close    217 non-null    float64
 12  Reliance-Volume       217 non-null    int64
 13  Amazon-Open           217 non-null    float64
 14  Amazon-High           217 non-null    float64
 15  Reliance-Low.1        217 non-null    float64
 16  Reliance-Close.1      217 non-null    float64
 17  Reliance-Adj Close.1  217 non-null    float64
 18  Reliance-Volume.1     217 non-null    int64
dtypes: float64(15), int64(3), object(1)
memory usage: 32.3+ KB

pie chart

In [6]:
r1=stock['tata-volume'].value_counts()
r2=stock['Reliance-Volume'].value_counts()
r3=stock['Reliance-Volume.1'].value_counts()
r1
r2
r3

3898704000    1
1922708000    1
1372710000    1
1000008000    1
1346714000    1
             ..
2125490000    1
1911274000    1
1856170000    1
3103894000    1
72096414      1
Name: Reliance-Volume.1, Length: 217, dtype: int64

# **Binary conversion**

In [8]:
timefmt = "%d/%m/%y %S:%M:%H" 
stock['Date'] = pd.to_datetime(stock['Date'], format = timefmt, errors='coerce')

In [9]:
stock.head()

,Date,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,NaT,12.22,12.25,10.45,11.63,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.2475,2.2720,2.013,2.1610,2.1610,3898704000
1,NaT,11.35,11.64,10.66,10.88,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.1500,2.1770,1.660,1.7590,1.7590,4373102000
2,NaT,10.69,11.14,9.38,9.70,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.7530,1.8215,1.641,1.7135,1.7135,2391332000
3,NaT,10.00,10.15,9.25,9.48,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.7315,1.7670,1.530,1.6180,1.6180,3249826000
4,NaT,9.55,10.30,9.42,9.85,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.6150,1.8020,1.605,1.7755,1.7755,2338956000

# **Categorical conversion**

In [10]:
# Dropping the first column from status dataset
status = pd.get_dummies(stock['Date'], drop_first = True)

# Adding the status to the original housing dataframe
stock = pd.concat([stock, status], axis = 1)

# Dropping 'furnishingstatus' as we have created the dummies for it
stock.drop(['Date'], axis = 1, inplace = True)

stock

,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,12.220000,12.250000,10.450000,11.630000,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.247500,2.272000,2.013000,2.161000,2.161000,3898704000
1,11.350000,11.640000,10.660000,10.880000,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.150000,2.177000,1.660000,1.759000,1.759000,4373102000
2,10.690000,11.140000,9.380000,9.700000,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.753000,1.821500,1.641000,1.713500,1.713500,2391332000
3,10.000000,10.150000,9.250000,9.480000,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.731500,1.767000,1.530000,1.618000,1.618000,3249826000
4,9.550000,10.300000,9.420000,9.850000,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.615000,1.802000,1.605000,1.775500,1.775500,2338956000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,29.170000,29.350000,23.590000,24.260000,24.260000,13376100,2582.649902,2629.699951,2311.000000,2377.750000,2377.750000,118852012,126.000000,136.490005,112.059998,113.000000,113.000000,1210487600
213,24.110001,25.520000,23.230000,25.010000,25.010000,18738300,2391.500000,2560.949951,2343.100098,2549.600098,2549.600098,94498167,113.580002,123.000000,97.660004,102.440002,102.440002,1459311500
214,25.700001,27.610001,24.790001,27.299999,27.299999,15021300,2600.000000,2745.449951,2502.000000,2731.350098,2731.350098,104414767,103.989998,104.580002,85.870003,96.540001,96.540001,2034653700
215,27.000000,27.240000,26.100000,26.549999,26.549999,1754600,2741.800049,2755.000000,2700.600098,2722.149902,2722.149902,9726291,96.989998,97.230003,93.779999,94.129997,94.129997,140915000
216,26.100000,26.565001,26.100000,26.549999,26.549999,829045,2730.000000,2748.000000,2700.600098,2722.149902,2722.149902,5346727,94.474998,95.360001,93.779999,94.129997,94.129997,72096414

# **outerline direction**

In [11]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 3
    mean = ny.mean(data)
    std = ny.std(data)
    #print(mean, std)
    for i in data:
        #print(i)
        z_score = (i-mean)/std
        if (ny.abs(z_score) > thres):
            outliers.append(i)
    return outliers# Driver code

In [12]:
sample_outliers_tata = detect_outliers_zscore(stock['tata-volume'])
sample_outliers_Reliance_volume = detect_outliers_zscore(stock['Reliance-Volume'])
sample_outliers_amazon_volume = detect_outliers_zscore(stock['Reliance-Volume.1'])
print("Outliers in tata-volume column from Z-scores method: ", sample_outliers_tata)
print("Outliers in reliance-volume from Z-scores method: ", sample_outliers_Reliance_volume)
print("Outliers in amazon-volume column from Z-scores method: ", sample_outliers_amazon_volume)

Outliers in tata-volume column from Z-scores method:  [79046800]
Outliers in reliance-volume from Z-scores method:  [847093258, 1161507241, 1131934037, 837803130, 1344176700]
Outliers in amazon-volume column from Z-scores method:  [6925740000, 6604848000, 5766708000, 6641494000]

In [13]:
from scipy.stats import zscore
z1 = ny.abs(zscore(stock['tata-volume']))
z2 = ny.abs(zscore(stock['Reliance-Volume']))
z3 = ny.abs(zscore(stock['Reliance-Volume.1']))
stock['Zscore_tata-volume'] = z1
stock['Zscore_Reliance-Volume'] = z2
stock['Zscore_Reliance-Volume.1'] = z3
outliers_tata_volume=len(stock[stock['Zscore_tata-volume']>3])
outliers_Reliance_Volume=len(stock[stock['Zscore_Reliance-Volume']>3])
outliers_Reliance_Volume_1=len(stock[stock['Zscore_Reliance-Volume.1']>3])
data_z = stock[stock['Zscore_tata-volume']<3]
data_z = stock[stock['Zscore_Reliance-Volume']<3]
data_z = stock[stock['Zscore_Reliance-Volume.1']<3]
stock=data_z.drop(['Zscore_tata-volume', 'Zscore_Reliance-Volume', 'Zscore_Reliance-Volume.1'], axis=1)
stock

,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,12.220000,12.250000,10.450000,11.630000,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.247500,2.272000,2.013000,2.161000,2.161000,3898704000
1,11.350000,11.640000,10.660000,10.880000,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.150000,2.177000,1.660000,1.759000,1.759000,4373102000
2,10.690000,11.140000,9.380000,9.700000,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.753000,1.821500,1.641000,1.713500,1.713500,2391332000
3,10.000000,10.150000,9.250000,9.480000,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.731500,1.767000,1.530000,1.618000,1.618000,3249826000
4,9.550000,10.300000,9.420000,9.850000,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.615000,1.802000,1.605000,1.775500,1.775500,2338956000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,29.170000,29.350000,23.590000,24.260000,24.260000,13376100,2582.649902,2629.699951,2311.000000,2377.750000,2377.750000,118852012,126.000000,136.490005,112.059998,113.000000,113.000000,1210487600
213,24.110001,25.520000,23.230000,25.010000,25.010000,18738300,2391.500000,2560.949951,2343.100098,2549.600098,2549.600098,94498167,113.580002,123.000000,97.660004,102.440002,102.440002,1459311500
214,25.700001,27.610001,24.790001,27.299999,27.299999,15021300,2600.000000,2745.449951,2502.000000,2731.350098,2731.350098,104414767,103.989998,104.580002,85.870003,96.540001,96.540001,2034653700
215,27.000000,27.240000,26.100000,26.549999,26.549999,1754600,2741.800049,2755.000000,2700.600098,2722.149902,2722.149902,9726291,96.989998,97.230003,93.779999,94.129997,94.129997,140915000
216,26.100000,26.565001,26.100000,26.549999,26.549999,829045,2730.000000,2748.000000,2700.600098,2722.149902,2722.149902,5346727,94.474998,95.360001,93.779999,94.129997,94.129997,72096414

# **Missing value treatement**

In [14]:
stock.isnull().sum()

tata-open               0
tata-high               0
tata-low                0
tata-close              0
tata-Adj Close          0
tata-volume             0
Reliance-open           0
Reliance+High           0
Reliance-Low            0
Reliance-Close          0
Reliance-Adj Close      0
Reliance-Volume         0
Amazon-Open             0
Amazon-High             0
Reliance-Low.1          0
Reliance-Close.1        0
Reliance-Adj Close.1    0
Reliance-Volume.1       0
dtype: int64

In [15]:
m1=stock['tata-volume'].mean()
m2=stock['Reliance-Volume'].mean()
m3=stock['Reliance-Volume.1'].mean()
stock['tata-volume'].fillna(value=m1, inplace=True)
stock['Reliance-Volume'].fillna(value=m2, inplace=True)
stock['Reliance-Volume.1'].fillna(value=m3, inplace=True)
stock

,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,12.220000,12.250000,10.450000,11.630000,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.247500,2.272000,2.013000,2.161000,2.161000,3898704000
1,11.350000,11.640000,10.660000,10.880000,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.150000,2.177000,1.660000,1.759000,1.759000,4373102000
2,10.690000,11.140000,9.380000,9.700000,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.753000,1.821500,1.641000,1.713500,1.713500,2391332000
3,10.000000,10.150000,9.250000,9.480000,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.731500,1.767000,1.530000,1.618000,1.618000,3249826000
4,9.550000,10.300000,9.420000,9.850000,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.615000,1.802000,1.605000,1.775500,1.775500,2338956000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,29.170000,29.350000,23.590000,24.260000,24.260000,13376100,2582.649902,2629.699951,2311.000000,2377.750000,2377.750000,118852012,126.000000,136.490005,112.059998,113.000000,113.000000,1210487600
213,24.110001,25.520000,23.230000,25.010000,25.010000,18738300,2391.500000,2560.949951,2343.100098,2549.600098,2549.600098,94498167,113.580002,123.000000,97.660004,102.440002,102.440002,1459311500
214,25.700001,27.610001,24.790001,27.299999,27.299999,15021300,2600.000000,2745.449951,2502.000000,2731.350098,2731.350098,104414767,103.989998,104.580002,85.870003,96.540001,96.540001,2034653700
215,27.000000,27.240000,26.100000,26.549999,26.549999,1754600,2741.800049,2755.000000,2700.600098,2722.149902,2722.149902,9726291,96.989998,97.230003,93.779999,94.129997,94.129997,140915000
216,26.100000,26.565001,26.100000,26.549999,26.549999,829045,2730.000000,2748.000000,2700.600098,2722.149902,2722.149902,5346727,94.474998,95.360001,93.779999,94.129997,94.129997,72096414

# **Data normalization**

In [101]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
stock_norm = scaler.fit_transform(stock)
#stock_norm1 = scaler.fit_transform(x1_test)
#stock_norm2 = scaler.fit_transform(x2_train)
#stock_norm3 = scaler.fit_transform(x3_train)
stock_norm
#stock_norm1
#stock_no#stock_norm3

array([[0.18817436, 0.16859366, 0.17399482, ..., 0.00469229, 0.00469229,
        0.72196988],
       [0.16940009, 0.15577045, 0.17893251, ..., 0.00238206, 0.00238206,
        0.81147503],
       [0.15515753, 0.14525962, 0.14883611, ..., 0.00212058, 0.00212058,
        0.4375725 ],
       ...,
       [0.47906778, 0.49148626, 0.51116859, ..., 0.54707228, 0.54707228,
        0.37027765],
       [0.50712128, 0.48370823, 0.54197035, ..., 0.5332224 , 0.5332224 ,
        0.01298407],
       [0.48769961, 0.46951864, 0.54197035, ..., 0.5332224 , 0.5332224 ,
        0.        ]])

In [102]:
x1=stock.drop('tata-volume',axis=1)
#x2=stock.drop('Relinace-Volume',axis=1)
#x3=stock.drop('Reliance-Volume.1',axis=1)
y1=stock['tata-volume']
#y2=stock['Reliance-Volume']
#y3=stock['Reliance-volume.1']
print(type(x1))
print(type(y1))
print(x1.shape)
print(y1.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(213, 17)
(213,)

In [103]:
#x1=stock.drop('tata-volume',axis=1)
#x2=stock.drop('Relinace-Volume',axis='Relinace-Volume')
#x3=stock.drop('Reliance-Volume.1',axis=1)
#y1=stock['tata-volume']
#y2=stock['Reliance-Volume']
#y3=stock['Reliance-volume.1']
#print(type(x2))
#print(type(y2))
#print(x2.shape)
#print(y2.shape)

# **Data Split**

In [104]:
from sklearn.model_selection import train_test_split
#dataframe = stock.values
#X, y = stock_norm[:,1:], stock_norm[:, 0]
#x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 10)
#print(x_train.shape)
#print(y_train.shape)
#print(x_test.shape)
#print(y_test.shape)

In [105]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.2)
print(x1_train.shape)
print(x1_test.shape)
print(y1_train.shape)
print(y1_test.shape)

(170, 17)
(43, 17)
(170,)
(43,)

# **creating confussion matrix of class report**

In [106]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [107]:
def eval_model(y1_test,y1pred):
  cm=confusion_matrix(y1_test,y1pred)
  print(cm)
  print('accuracy score',accuracy_score(y1_test,y1pred))
  print(classification_report(y1_test,y1pred))
def mscore(model):
  print('training score',model.score(x1_train,y1_train))
  print('testing score',model.score(x1_test,y1_test))

# **modeling**

In [90]:
from sklearn.linear_model import LogisticRegression

In [108]:
m1=LogisticRegression(max_iter=100)
m1.fit(x1_train,y1_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# **y=mx+c**

In [109]:
m=m1.coef_
c=m1.intercept_

In [110]:
#stock['tata-volume_pred_eqn']=stock['tata-volume']+c

In [111]:
mscore(m1)

training score 0.11764705882352941
testing score 0.0

In [112]:
ypred_m1=m1.predict(x1_test)
eval_model(y1_test,ypred_m1)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
accuracy score 0.0
              precision    recall  f1-score   support

     3999900       0.00      0.00      0.00       0.0
     4221700       0.00      0.00      0.00       0.0
     5082700       0.00      0.00      0.00       1.0
     5855500       0.00      0.00      0.00       0.0
     8794900       0.00      0.00      0.00       1.0
     9628000       0.00      0.00      0.00       0.0
    11557400       0.00      0.00      0.00       1.0
    12599700       0.00      0.00      0.00       0.0
    13835900       0.00      0.00      0.00       1.0
    14766400       0.00      0.00      0.00       1.0
    15021300       0.00      0.00      0.00       1.0
    15715000       0.00      0.00      0.00       1.0
    15928100       0.00      0.00      0.00       0.0
    16699100       0.00      0.00      0.00       0.0
    18738300       0.00      0.00      0.00       1.0
    19528100       0.00      0.00      0.00       1.0
    21509700       0.00      0.00      0.00       0.0
    22306300       0.00      0.00      0.00       1.0
    22851400       0.00      0.00      0.00       1.0
    23644900       0.00      0.00      0.00       1.0
    23950900       0.00      0.00      0.00       1.0
    24797000       0.00      0.00      0.00       0.0
    26268400       0.00      0.00      0.00       0.0
    26308800       0.00      0.00      0.00       0.0
    26551500       0.00      0.00      0.00       1.0
    26724800       0.00      0.00      0.00       1.0
    29466800       0.00      0.00      0.00       1.0
    30746800       0.00      0.00      0.00       1.0
    31463400       0.00      0.00      0.00       1.0
    31538900       0.00      0.00      0.00       1.0
    31720900       0.00      0.00      0.00       0.0
    32447800       0.00      0.00      0.00       0.0
    32534200       0.00      0.00      0.00       1.0
    32629500       0.00      0.00      0.00       1.0
    32754300       0.00      0.00      0.00       1.0
    33511900       0.00      0.00      0.00       1.0
    34544800       0.00      0.00      0.00       1.0
    34635200       0.00      0.00      0.00       1.0
    35110600       0.00      0.00      0.00       1.0
    35287700       0.00      0.00      0.00       1.0
    35476300       0.00      0.00      0.00       1.0
    35500800       0.00      0.00      0.00       1.0
    36322600       0.00      0.00      0.00       1.0
    37042600       0.00      0.00      0.00       1.0
    40720400       0.00      0.00      0.00       1.0
    41062200       0.00      0.00      0.00       1.0
    41063700       0.00      0.00      0.00       1.0
    43075100       0.00      0.00      0.00       1.0
    43268000       0.00      0.00      0.00       1.0
    45145900       0.00      0.00      0.00       1.0
    47107300       0.00      0.00      0.00       1.0
    51281100       0.00      0.00      0.00       1.0
    53057700       0.00      0.00      0.00       0.0
    57165800       0.00      0.00      0.00       1.0
    61742600       0.00      0.00      0.00       1.0
    62894700       0.00      0.00      0.00       1.0
    68419600       0.00      0.00      0.00       1.0
    69961000       0.00      0.00      0.00       0.0

    accuracy                           0.00      43.0
   macro avg       0.00      0.00      0.00      43.0
weighted avg       0.00      0.00      0.00      43.0

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# **Testing the model**

In [113]:
#ypred_2523100=m1.predict([2523100])
#print(ypred_2523100)
#print(2523100*m+c)

In [114]:
def gen_model(model,x1_test,x1_train,y1_test,y1_train):
  model.fit(x1_train,y1_train)
  print('training score',model.score(x1_train,y1_train))
  print('testing score',model.score(x1_test,y1_test))
  ypred=model.predict(x1_test,y1_test)
  cm=confusion_matrix(y1_test,y1pred)
  print(cm)
  print(classification_report(y1_test,y1pred))

In [115]:
print(ypred_m1.shape)

(43,)

In [116]:
x1_test.columns

Index(['tata-open', 'tata-high', 'tata-low', 'tata-close ', 'tata-Adj Close',
       'Reliance-open', 'Reliance+High', 'Reliance-Low', 'Reliance-Close',
       'Reliance-Adj Close', 'Reliance-Volume', 'Amazon-Open', 'Amazon-High',
       'Reliance-Low.1', 'Reliance-Close.1', 'Reliance-Adj Close.1',
       'Reliance-Volume.1'],
      dtype='object')

In [117]:
submission_test=pd.DataFrame({'Test tata-high':x1_test['tata-high'],'pred_tata-volume':ypred_m1})
submission_test.head(10)

     Test tata-high  pred_tata-volume
193       23.379999           3999900
171       17.139999          26308800
91        22.299999          24797000
139       40.970001          24797000
118       48.180000          31720900
156       34.400002          31720900
76        27.620001          31720900
77        24.150000          12599700
182        9.090000           4221700
51         8.300000          26308800